{% extends "base.html" %}
{% load static %}
{% block title %}Chicken{% endblock title %}
{% block content %}
<h1>鶏肉があるならこちらのメニューはいかがですか？</h1>
<ul>
  <li>
    <img src="{% static 'images/nanbann.png' %}" alt=""width="100%" height="100%"><br>
    <strong>チキン南蛮</strong>
  </li>
  <li>
    <img src="{% static 'images/pyako.png' %}" alt=""width="100%" height="100%"><br>
    <strong>親子丼</strong>
  </li>
  <li>
    <img src="{% static 'images/karage.png' %}" alt=""width="100%" height="100%"><br>
    <strong>唐揚げ</strong>
  </li>
</ul>
<form action="/polls/home" method="post">
  {% csrf_token %}
  <button type="submit" name="button">Go Home</button>
</form>
{% endblock content %}
